.container{
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem;
    margin: 0 auto;
}

.management{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}