.form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.inputsWrapper{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.passInputWrapper {
    display: flex;
    width: 100%;
    line-height: 30px;
    align-items: center;
    position: relative;
}

.passInput {
    width: 100%;
    height: 45px;
    line-height: 30px;
    padding: 0 5rem 0 3rem;
    border: 2px solid #ecedec;
    border-radius: 10px;
    outline: none;
    background-color: var(--bg-gradient);
    color: #0d0c22;
    transition: .5s ease;
}

.passInput::placeholder {
    color: #94a3b8;
}

.passInput:focus, passInput:hover {
    outline: none;
    border-color: rgba(129, 140, 248);
    background-color: #fff;
    box-shadow: 0 0 0 5px rgb(129 140 248 / 30%);
}

.icon {
    position: absolute;
    left: 1rem;
    fill: none;
    width: 1rem;
    height: 1rem;
}

.errorMessage{
    background-color: #FEF2F2;
    border: 1px solid #ff6b6b;
    width: 100%;
    color: #fa3643;
    padding: .5rem;
    /*width: fit-content;*/
    border-radius: .5rem;
    font-size: .9rem;
}

.btn{
    width: 100%;
    max-height: 50px;
    text-align: center;

    padding: 1rem;
    border-radius: 0.8rem;
    border: none;
    background: var(--primary);
    font-size: 1rem;
    color: white;
    cursor: pointer;
    transition: all ease-in-out 0.2s;

}
.btn:hover{
    transform: scale(1.05);
    background: var(--primary-hover);
}

.support{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

.contactLink{
    color: var(--primary);
    font-size: .9rem;
}
.muted{
    color: var(--muted-text);
}