.studentWrapper{
    max-width: 420px;
    box-shadow: 0 8px 10px -6px rgba(0, 0, 0, 0.1), 0 20px 25px -5px rgba(0, 0, 0, 0.1);
    background: #fff;
    padding: 2rem;
    border-radius: .6rem;
    border: var(--card-border);
}


.student{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.iconWrapper{
    background: var(--primary);
    padding: 16px 16px 0px;
    border-radius: 9999rem;
    width: 64px;
    height: 64px;

}

.studentContent{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
}

.mutedText{
    color: var(--muted-text)
}

.title{
    color: var(--text);
}

.access{
    padding: 0.3rem;
    border-radius: 6px;
    color:  #193cb8;
}

.form{
    width: 100%;
}









