.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background:
            var(--bg-gradient),
            var(--bg-color);

    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.header {
    height: 80px; /* твоя высота */
}

.footer {
    height: 60px; /* твоя высота */
}