#root{
    --bg-color: #fff;
    --bg-gradient: linear-gradient(135deg, #eff6ff 0%, #fff 50%, #f8fafc 100%);
    --text: #101828;
    --muted-text: #4a5565;
    --primary: #1c398e;
    --secondary: #155dfc;
    --header-btn: #5588ff;
    --header-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.1), 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    --header: #fff;
    --header-bottom-border: 1px solid rgba(0, 0, 0, 0.1);
    --card-border: 2px solid rgba(0, 0, 0, 0.1);;
    --student-card-bg: linear-gradient(135deg, #eff6ff 0%, #fff 100%);;
    --lecturer-card-bg: linear-gradient(135deg, #ecfdf5 0%, #fff 100%);
    --admin-card-bg: linear-gradient(135deg, #faf5ff 0%, #fff 100%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

a{
    text-decoration: none;
}
