.container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(272px, 1fr));
    gap: 1rem;
    justify-items: center;
}

.card{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: var(--admin-border);
    padding: 24px;
    border-radius: 1rem;
    gap: .7rem;
}

.iconWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 99999rem;
    padding: .7rem;
}

.lightGreen{
    background-color: var(--light-green);
}
.lightBlue{
    background-color: var(--ligth-blue);
}
.lightPurple{
    background-color: var(--light-purple);
}
.lightOrange{
    background-color: var(--light-orange);
}

.cardContent{
    display: flex;
    flex-direction: column;
}

.primary{
    color: var(--primary);
}
.primaryPurple{
    color: var(--primary-purple);
}
.primaryBlue{
    color: var(--primary-blue);
}
.primaryOrange{
    color: var(--primary-orange);
}


.primaryColor{
    font-size: 1.5rem;
    font-weight: bold;
}
.mutedText{
    font-size: 1rem;
    color: var(--muted-text);
}